{% extends "::admin.html.twig" %}

{% block title %}{{ 'news.list'|trans({},'backend') }}{% endblock %}
{% block page_title %}{{ 'news.list'|trans({},'backend') }}{% endblock %}

{% import ':macros:dataTables.html.twig' as datatable %}

{% block page_style %}{{ datatable.css() }}{% endblock page_style %}
{% block page_script %}{{ datatable.js() }}{% endblock page_script %}
{% block javascripts_document_ready %}
    {{ datatable.ajax_component(path('app_admin_news_datatable')) }}
{% endblock %}

{% block breadcrumb %}
    <li class="active">{{ 'news.list'|trans({},'backend') }}</li>
{% endblock %}

{% block page_menu %}
    {#<a class="btn btn-success" href="{{ path('app_admin_news_new') }}">#}
        {#<i class="fa fa-plus"></i> {{ 'news.new'|trans({},'backend') }}#}
    {#</a>#}
{% endblock page_menu %}

{% block page_body %}
    <div class="row">
        <div class="col-xs-12">
            {% embed ":embed:datatable.html.twig" %}
                {% block table_head %}
                    <th data-type="string" data-data="title" data-name="title">{{ 'news.title'|trans({},'backend') }}</th>
                    <th data-type="string" data-data="categories" data-name="categories" data-orderable="false">{{ 'news.categories'|trans({},'backend') }}</th>
                    <th data-type="string" data-data="created" data-name="created" data-orderable="false">{{ 'news.created'|trans({},'backend') }}</th>
                {% endblock table_head %}
            {% endembed %}
        </div>
    </div>
{% endblock %}
