{% trans_default_domain 'FOSUserBundle' %}
{% form_theme form with ':form:fields-material.html.twig' %}
<div class="row">
    <div class="col-sm-12">

        <!-- BEGIN PROFILE SIDEBAR -->
        <div class="profile-sidebar">
            <!-- PORTLET MAIN -->
            <div class="portlet light profile-sidebar-portlet bordered">
                <!-- SIDEBAR USERPIC -->
                <div class="profile-userpic">
                    {% if app.user.picture == null %}
                        <img class="img-responsive" style="height: 149px; width: 149px" alt="personal image"
                             src="{{ asset('backend-metronic/img/avatars/avatar.jpg') }}"/>
                    {% else %}
                        {% set url = constant('IMAGES_UPLOAD_DIR',app.user)~app.user.picture %}
                        <img class="img-responsive" style="height: 149px; width: 149px" alt="personal image"
                             src="{{ asset(url) }}">
                    {% endif %}
                </div>
                <!-- END SIDEBAR USERPIC -->
                <!-- SIDEBAR USER TITLE -->
                <div class="profile-usertitle">
                    <div class="profile-usertitle-name">
                        {{ app.user.name }}
                    </div>
                    <div class="profile-usertitle-job">
                        {% if app.user.hasRole('ROLE_PROFESSIONAL') %}
                            {{ 'professional'|trans({},'backend') }}
                        {% elseif app.user.hasRole('ROLE_SUPERIOR') %}
                            {{ 'superior'|trans({},'backend') }}
                        {% else %}
                            {{ 'basic'|trans({},'backend') }}
                        {% endif %}
                    </div>
                </div>
                <!-- END SIDEBAR USER TITLE -->
                <!-- SIDEBAR BUTTONS -->
                {#<div class="profile-userbuttons">#}
                {#<button type="button" class="btn btn-circle green btn-sm">Follow</button>#}
                {#<button type="button" class="btn btn-circle red btn-sm">Message</button>#}
                {#</div>#}
                <!-- END SIDEBAR BUTTONS -->
                <!-- SIDEBAR MENU -->
                <div class="profile-usermenu">
                    <ul class="nav">
                        <li class="active">
                            <a href="{{ path('fos_user_profile_show') }}">
                                <i class="icon-home"></i>
                                {{ 'overview' | trans({}, 'backend') }} </a>
                        </li>
                        <li>
                            <a href="{{ path('fos_user_profile_edit') }}">
                                <i class="icon-settings"></i>
                                {{ 'account.seting' | trans({}, 'backend') }} </a>
                        </li>
                        <li>
                            <a href="{{ path('user_profile_other') }}">
                                <i class="icon-info"></i>
                                {{ 'others' | trans({}, 'backend') }} </a>
                        </li>
                    </ul>
                </div>
                <!-- END MENU -->
            </div>
            <!-- END PORTLET MAIN -->

            <!-- PORTLET MAIN -->
            <div class="portlet light bordered">
                <div class="list-separated profile-stat">
                    <h4 class="profile-desc-title">{{ 'my.staff' | trans({}, 'backend') }}</h4>
                </div>
                <!-- STAT -->
                <div class="row list-separated profile-stat" style="padding-bottom: 0px; border-bottom: 0px;">
                    <div class="col-md-2 col-sm-2 col-xs-6"></div>
                    <div class="col-md-4 col-sm-4 col-xs-6">
                        <div class="uppercase profile-stat-title">
                            {{ app.user.getActiveProfile.getChildrenMembers|length }}
                        </div>
                        <div class="uppercase profile-stat-text">
                            {{ 'affiliates' | trans({}, 'backend') }}
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-6">
                        <div class="uppercase profile-stat-title">
                            {{ app.user.getActiveProfile.getGuestChildrenMembers|length }}
                        </div>
                        <div class="uppercase profile-stat-text">
                            {{ 'guests' | trans({}, 'backend') }}
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-2 col-xs-6"></div>
                </div>
                <!-- END STAT -->

            </div>

            <!-- END PORTLET MAIN -->
        </div>

        <!-- BEGIN PROFILE CONTENT -->
        <div class="profile-content">
            <div class="row">
                <div class="col-md-12 profile-info">
                    {% embed 'embed/form-horizontal.html.twig' %}
                        {% block form_action %}{{ path('fos_user_profile_edit') }}{% endblock form_action %}
                        {% block form_attr %}enctype="multipart/form-data"{% endblock form_attr %}
                        {% block form_buttons %}
                            <div class="row text-right">
                                <div class="col-md-12">
                                    <button class="btn green" type="submit" name="update">
                                        <i class="fa fa-fw fa-check-circle"></i> {{ 'update'|trans({},'resources') }}
                                    </button>
                                    <a class="btn black"  href="{{ path('fos_user_profile_show') }}">
                                        <i class="fa fa-fw fa-times-circle"></i> {{ 'cancel'|trans({},'resources') }}
                                    </a>
                                </div>
                                <div class="col-md-12">
                                    <span class="help-inline text-info">
                                      {{ 'the.field.marqued.are.required'|trans({},'resources') }}
                                    </span>
                                </div>
                            </div>
                        {% endblock form_buttons %}
                    {% endembed %}
                </div>
            </div>
        </div>
        <!-- END PROFILE CONTENT -->


        {#{% embed 'embed/form-horizontal.html.twig' %}#}
        {#{% block form_action %}{{ path('fos_user_profile_edit') }}{% endblock form_action %}#}
        {#{% block form_attr %}enctype="multipart/form-data"{% endblock form_attr %}#}
        {#{% block form_buttons %}#}
        {#<div class="mgbt-xs-0 text-right">#}
        {#<div class="col-md-12">#}
        {#<button class="btn vd_btn vd_bg-green vd_white" type="submit" name="update"><i class="fa fa-fw fa-check-circle"></i> {{ 'update'|trans({},'resources') }}</button>#}
        {#<a class="btn vd_btn vd_bg-black vd_white" href="{{ path('fos_user_profile_show') }}"><i class="fa fa-fw fa-times-circle"></i> {{ 'cancel'|trans({},'resources') }}</a>#}
        {#</div>#}
        {#<div class="col-md-12">#}
        {#<span class="help-inline text-info">#}
        {#{{ 'the.field.marqued.are.required'|trans({},'resources') }}#}
        {#</span>#}
        {#</div>#}
        {#</div>#}
        {#{% endblock form_buttons %}#}
        {#{% endembed %}#}
    </div>
</div>
{#<form action="{{ path('fos_user_profile_edit') }}" {{ form_enctype(form) }} method="POST" class="fos_user_profile_edit">
    {{ form_widget(form) }}
    <div>
        <input type="submit" value="{{ 'profile.edit.submit'|trans }}" />
    </div>
</form>#}
