<div class="row text-right">
  <div class="col-md-12">
    <button class="btn green" type="submit" name="update"><i class="fa fa-fw fa-check-circle"></i> {{ 'update'|trans({},'resources') }}</button>
    {#<button class="btn green" type="submit" name="update_list"><i class="fa fa-fw fa-list"></i> {{ 'update.and.list'|trans({},'resources') }}</button>#}
    <a class="btn red " href="{% block delete_link %}{% endblock delete_link %}"><i class="fa fa-fw fa-trash-o"></i> {{ 'delete'|trans({},'resources') }}</a>
    <a class="btn black" href="{% block cancel_link %}{% endblock cancel_link %}"><i class="fa fa-fw fa-times-circle"></i> {{ 'cancel'|trans({},'resources') }}</a>
  </div>
  <div class="col-md-12">
    <span class="help-inline text-info">
      {{ 'the.field.marqued.are.required'|trans({},'resources') }}
    </span>
  </div>
</div>