{% extends '::admin.html.twig' %}

{% block title %}{{ 'blog.title%name%'|trans({'%name%':blog.user.name},'blog') }}{% endblock %}

{% block page_style %}
    {% if blog.picture is not empty %}
        {% set img_url = constant('IMAGES_UPLOAD_DIR',blog)~blog.picture %}
        <style type="text/css">
            #front-1-banner {
                background-image: url("{{ asset(img_url) }}");
            }
        </style>
    {% endif %}
{% endblock page_style %}

{% block body_tag %}
<body id="layouts" class="middle-layout no-nav-left no-nav-right  background-login responsive remove-navbar front-layout clearfix" data-active="layouts "  data-smooth-scrolling="1"></body>
{% endblock body_tag %}

{% block header_tag %}{% endblock %}

{% block section_tag %}
<div class="content">
    <div class="container">
        <div id="front-1-banner" class="vd_banner vd_bg-dark-green clearfix slide-waypoint" data-waypoint="home" >
            <div class="container">
                <div class="vd_content vd_info-parent clearfix">
                    <div class="word-header">
                        <h1 class="font-semibold text-center vd_white"><strong>{{ blog.title }}</strong></h1>
                    </div>
                    <div class="word-subheader">
                        <h3 class="text-center vd_white">{{ blog.subtitle }}</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="front-1-services" class="vd_section clearfix slide-waypoint vd_bg-white" data-waypoint="services">
        <div class="container">
            <div class="vd_content clearfix">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <div class="vd_visitor-counter">
                            <div class="item-row">
                                <div class="item  vd_green break hidden-xs"> <i class="fa fa-minus"></i> </div>
                                <div class="item vd_bg-green break"> 1
                                    <div class="line"></div>
                                </div>
                                <div class="item vd_bg-green"> 2
                                    <div class="line"></div>
                                </div>
                                <div class="item vd_bg-green"> 3
                                    <div class="line"></div>
                                </div>
                                <div class="item vd_bg-green break"> 4
                                    <div class="line"></div>
                                </div>
                                <div class="item vd_bg-green"> 2
                                    <div class="line"></div>
                                </div>
                                <div class="item vd_bg-green"> 3
                                    <div class="line"></div>
                                </div>
                                <div class="item vd_bg-green break"> 4
                                    <div class="line"></div>
                                </div>
                                <div class="item  vd_green hidden-xs"> <i class="fa fa-minus"></i> </div>
                            </div>
                            <!-- item-row -->
                        </div>
                        <!-- vd_visitor-counter -->
                        <div class="text-center mgtp-20 visitor-word appear">
                            <h2>Happy Customers and Still Counting...</h2>
                        </div>
                    </div>
                    <!-- col-md-12 -->
                </div>
                <!-- row -->
                <br />
                <br />
                <br />
                <div class="row mgtp-20">
                    <div class="col-md-4 mgbt-sm-20">
                        <div class="text-center clearfix feature-1">
                            <p class="mgbt-xs-20"><img alt="example image" src="{{ asset('backend/img/avatar.jpg') }}" /></p>
                            <h2 class="font-semibold mgbt-xs-15">Super Flexible Layout</h2>
                            <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti </p>
                        </div>
                    </div>
                    <div class="col-md-4 mgbt-sm-20">
                        <div class="text-center clearfix feature-2">
                            <p class="mgbt-xs-20"><img alt="example image" src="{{ asset('backend/img/avatar.jpg') }}" /></p>
                            <h2 class="font-semibold mgbt-xs-15">100% Responsive</h2>
                            <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti </p>
                        </div>
                    </div>
                    <div class="col-md-4 mgbt-sm-20">
                        <div class="text-center clearfix feature-3">
                            <p class="mgbt-xs-20"><img alt="example image" src="{{ asset('backend/img/avatar.jpg') }}" /></p>
                            <h2 class="font-semibold mgbt-xs-15">Fast Deployment</h2>
                            <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="front-1-features" class="vd_section vd_banner vd_bg-white clearfix slide-waypoint" data-waypoint="features" >
        <div class="container">
            <div class="vd_content clearfix">
                <div class="row">
                    <div class="col-md-12 text-center mgbt-xs-20">
                      <h2 class="font-semibold"> {{ 'blog.post.list'|trans({},'blog') }} </h2><br/>
                    </div>
                    <div class="vd_gallery">
                      <div class="col-lg-4 col-md-6 col-sm-6 mgbt-xs-15">
                        <div class="gallery-item full-width gallery-1">
                            <a href="{{ asset('backend/img/screenshot/vendroid-01.jpg') }}">
                                <img alt="example image" src="{{ asset('backend/img/screenshot/vendroid-01-thumbs.jpg') }}" />
                                <div class="bg-cover"></div>
                            </a>
                            <div class="vd_info">
                                <h3 class="mgbt-xs-15"><span class="font-semibold">Post Title</span></h3>
                                <a class="vd_bg-green vd_white mgr-10 btn vd_round-btn btn-xs" role="button" href="#">
                                    <i class="fa fa-link"></i>
                                </a>
                            </div>
                        </div>
                      </div>
                      <div class="col-lg-4 col-md-6 col-sm-6 mgbt-xs-15">
                        <div class="gallery-item full-width gallery-2">
                            <a href="{{ asset('backend/img/screenshot/vendroid-01.jpg') }}">
                                <img alt="example image" src="{{ asset('backend/img/screenshot/vendroid-01-thumbs.jpg') }}" />
                                <div class="bg-cover"></div>
                            </a>
                            <div class="vd_info">
                                <h3 class="mgbt-xs-15"><span class="font-semibold">Post Title</span></h3>
                                <a class="vd_bg-green vd_white mgr-10 btn vd_round-btn btn-xs" role="button" href="#">
                                    <i class="fa fa-link"></i>
                                </a>
                            </div>
                        </div>
                      </div>
                      <div class="col-lg-4 col-md-6 col-sm-6 mgbt-xs-15">
                        <div class="gallery-item full-width gallery-3">
                            <a href="{{ asset('backend/img/screenshot/vendroid-01.jpg') }}">
                                <img alt="example image" src="{{ asset('backend/img/screenshot/vendroid-01-thumbs.jpg') }}" />
                                <div class="bg-cover"></div>
                            </a>
                            <div class="vd_info">
                                <h3 class="mgbt-xs-15"><span class="font-semibold">Post Title</span></h3>
                                <a class="vd_bg-green vd_white mgr-10 btn vd_round-btn btn-xs" role="button" href="#">
                                    <i class="fa fa-link"></i>
                                </a>
                            </div>
                        </div>
                      </div>
                    </div>
                    <!-- vd_gallery -->
                  </div>
                </div>
            </div>
        </div>
    </div>

    <div id="front-1-contacts" class="vd_section vd_bg-dark-green clearfix slide-waypoint" data-waypoint="contact">
      <div class="container">
        <div class="vd_content clearfix">
          <div class="row">
            <div class="col-md-12">
              <h2 class="text-center vd_white font-semibold mgbt-xs-20"> CONTACT US </h2>
            </div>
            <div class="col-md-offset-3 col-sm-offset-2 col-md-6 col-sm-8">
              <div class="panel">
                <div class="panel-body vd_bg-green radius-10" >
                  <div id="contact-form-result">
                    <div id="success" class="alert alert-success hidden">
                      <button type="button" class="close" data-dismiss="alert" aria-hidden="true"><i class="icon-cross"></i></button>
                      We have <strong>successfully</strong> received your Message and will get Back to you as soon as possible.</div>
                    <div id="error" class="alert alert-danger hidden">
                      <button type="button" class="close" data-dismiss="alert" aria-hidden="true"><i class="icon-cross"></i></button>
                    </div>
                    <div id="empty" class="alert alert-danger hidden">
                      <button type="button" class="close" data-dismiss="alert" aria-hidden="true"><i class="icon-cross"></i></button>
                      Please <strong>Fill up</strong> all the Fields and Try Again.</div>
                    <div id="unexpected" class="alert alert-danger hidden">
                      <button type="button" class="close" data-dismiss="alert" aria-hidden="true"><i class="icon-cross"></i></button>
                      An <strong>unexpected error</strong> occured. Please Try Again later.</div>
                    </div>
                  <form role="form" action="{{ path('app_front_blog_contact_new',{'username':blog.user.username}) }}" id="contact-form-widget" class="form-horizontal" method="post">
                    <div class="row">
                      <div class="col-md-12 mgbt-xs-10">
                        <label class="control-label vd_white">Name</label>
                        <div class="controls">
                          <input id="contact-form-name" name="contact-form-name" type="text" required placeholder="" class="no-bd">
                        </div>
                      </div>
                      <div class="col-md-12 mgbt-xs-10">
                        <label class="control-label vd_white">Email</label>
                        <div class="controls">
                          <input id="contact-form-email" name="contact-form-email"  type="email" required placeholder=""  class="no-bd">
                        </div>
                      </div>
                      <div class="col-md-12 mgbt-xs-15">
                        <label class="control-label vd_white">Message</label>
                        <div class="controls">
                          <textarea id="contact-form-message" name="contact-form-message" rows="4" required  class="no-bd"></textarea>
                        </div>
                      </div>
                      <div class="col-md-12 mgbt-xs-10">
                        <button class="btn vd_btn vd_btn-bevel vd_bg-yellow font-semibold" id="contact-form-submit" name="contact-form-submit" type="submit"><i class="append-icon fa fa-envelope"></i>SEND MESSAGE</button>
                      </div>
                    </div>
                  </form>
                </div>
                <!-- panel-body -->
              </div>
              <!-- panel -->
            </div>
            <!-- col-md-offset-3 -->
          </div>
          <!-- row -->
        </div>
        <!-- vd_content -->
      </div>
      <!-- container -->
    </div>
    <!-- front-1-contacts -->
</div>
{% endblock %}

{% block footer_tag %}{% endblock %}

{% block body_end_before_js %}
    <a id="back-top" href="#" data-action="backtop" class="vd_back-top visible"> <i class="fa  fa-angle-up"> </i> </a>
{% endblock %}

{% block page_script %}
    <script type="text/javascript" src="{{ asset('backend/js/jquery-form.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('backend/plugins/stellar/jquery.stellar.js') }}"></script>
    <script type="text/javascript" src="{{ asset('backend/plugins/waypoints/waypoints.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('backend/plugins/jquery-easing/jquery.easing.1.3.js') }}"></script>
{% endblock page_script %}

{% block javascripts_document_ready %}
{#<script type="text/javascript">#}
{#    $(document).ready(function() {
        "use strict";#}

        $('#contact-form-widget').ajaxForm({
            dataType: 'json',
            resetForm: true,
            success: function(response) {
                if(response.success) {
                    $("#contact-form-result div").addClass('hidden');
                    $("#contact-form-result #success").removeClass('hidden');
                } else {
                    $("#contact-form-result div").addClass('hidden');
                    $("#contact-form-result #error").removeClass('hidden');
                    $("#contact-form-result #error").append(data.message);
                }
            },
            error: function() {
                $("#contact-form-result div").addClass('hidden');
                $("#contact-form-result #unexpected").removeClass('hidden');
            }
        });
       /* var options = {
            type: "POST",
            url:  $("#contact-form-widget").attr('action'),
            dataType: "json",
            success: function(data) {
                if (data.response == "success") {
                    $("#contact-form-result div").addClass('hidden');
                    $("#contact-form-result #success").removeClass('hidden');
                } else if (data.response == "error") {
                    $("#contact-form-result div").addClass('hidden');
                    $("#contact-form-result #error").removeClass('hidden');
                    $("#contact-form-result #error").append(data.message);
                } else if (data.response == "empty") {
                    $("#contact-form-result div").addClass('hidden');
                    $("#contact-form-result #empty").removeClass('hidden');
                } else if (data.response == "unexpected") {
                    $("#contact-form-result div").addClass('hidden');
                    $("#contact-form-result #unexpected").removeClass('hidden');
                }
                $("#contact-form-widget").find('#contact-form-submit #spin').remove();
                $("#contact-form-widget").find('#contact-form-submit').removeClass('disabled').removeAttr('disabled').blur();

                $("#contact-form-widget").fadeOut(500, function(){
                    $('#contact-form-result').fadeIn(500);
                });
            },
            error: function() {
                $("#contact-form-result div").addClass('hidden');
                $("#contact-form-result #unexpected").removeClass('hidden');
            }
        };

        $("#contact-form-widget").validate({
            submitHandler: function(form) {
                $(form).find('#contact-form-submit').prepend('<i id="spin" class="fa fa-spinner fa-spin mgr-10"></i>').addClass('disabled').attr('disabled');
                $(form).ajaxSubmit(options);
            },
            success: function(form){
            }
        });*/


        /*var slide = $('.slide-waypoint');*/

        //Setup waypoints plugin
        /*slide.waypoint(function(direction) {
            //  		alert('Direction example triggered scrolling ' + direction);
            //cache the variable of the data-waypoint attribute associated with each slide
            var dataslide = $(this).attr('data-waypoint');



            //If the user scrolls up change the navigation link that has the same data-waypoint attribute as the slide to active and
            //remove the active class from the previous navigation link
            /!*			if (direction === 'down') {
             resetActive();
             $('.vc_primary-menu  ul li a[data-waypoint="' + dataslide + '"]').parent().addClass('active');
             }
             else {
             resetActive();
             $('.vc_primary-menu  ul li a[data-waypoint="' + dataslide + '"]').parent().prev().addClass('active');
             }
             *!/

        },{offset:0});*/


        //Create a function that will be passed a slide number and then will scroll to that slide using jquerys animate. The Jquery
        //easing plugin is also used, so we passed in the easing method of 'easeInOutQuint' which is available throught the plugin.
        /*function goToByScroll(dataslide) {
            if (dataslide=="home"){
                $('html,body').animate({scrollTop:0},1500, 'easeInOutQuint');
            } else {
                $('html,body').animate({
                    scrollTop: $('.slide-waypoint[data-waypoint="' + dataslide + '"]').offset().top
                }, 1500, 'easeInOutQuint');
            }
        }*/


        /*$('.vd_top-menu-wrapper .horizontal-menu .nav > li >  a[data-waypoint]').click(function (e) {
            e.preventDefault();

            var dataslide = $(this).attr('data-waypoint');
            goToByScroll(dataslide);
        });*/
        /*$("#front-1-banner .icon-banner, #front-1-banner .word-header, #front-1-banner .word-subheader, .vd_visitor-counter, .visitor-word, .feature-1, .feature-2, .feature-3, .vd_gallery .gallery-item").css("opacity",0);

        $("#front-1-banner").waypoint(function () {

            $('#front-1-banner .word-header').delay(0).queue(function () {
                $('#front-1-banner .word-header').removeClass("hidden").addClass("animated fadeInDownBig");
            });
            $('#front-1-banner .word-subheader').delay(300).queue(function () {
                $('#front-1-banner .word-subheader').removeClass("hidden").addClass("animated fadeInDownBig");
            });

            $('#front-1-banner .icon-1').delay(2000).queue(function () {
                $('#front-1-banner .icon-1').removeClass("hidden").addClass("animated rollIn");
            });
            $('#front-1-banner .word-1').delay(2300).queue(function () {
                $('#front-1-banner .word-1').removeClass("hidden").addClass("animated rollIn");
            });

            $("#front-1-banner .icon-2").delay(1500).queue(function () {
                $('#front-1-banner .icon-2').removeClass("hidden").addClass("animated fadeInDown");
            });
            $("#front-1-banner .word-2").delay(1700).queue(function () {
                $('#front-1-banner .word-2').removeClass("hidden").addClass("animated fadeInDown");
            });

            $("#front-1-banner .icon-3").delay(2500).queue(function () {
                $('#front-1-banner .icon-3').removeClass("hidden").addClass("animated fadeInRight");
            });
            $("#front-1-banner .word-3").delay(2700).queue(function () {
                $('#front-1-banner .word-3').removeClass("hidden").addClass("animated fadeInRight");
            });
            $("#front-1-banner .icon-4").delay(3500).queue(function () {
                $('#front-1-banner .icon-4').removeClass("hidden").addClass("animated rotateIn");
            });




        }, 	{ offset: 600	});

        $(".vd_visitor-counter").waypoint(function () {
            $(".vd_visitor-counter").queue(function () {
                $('.vd_visitor-counter').addClass("animated fadeInUp");
            });
            $(".visitor-word").delay(300).queue(function () {
                $('.visitor-word').addClass("animated fadeInUp");
            });
            $(".visitor-word").delay(300).queue(function () {
                $('.visitor-word').addClass("animated fadeInUp");
            });
            $(".feature-1").delay(1000).queue(function () {
                $('.feature-1').addClass("animated fadeInRightBig");
            });
            $(".feature-2").delay(1200).queue(function () {
                $('.feature-2').addClass("animated fadeInRightBig");
            });
            $(".feature-3").delay(1400).queue(function () {
                $('.feature-3').addClass("animated fadeInRightBig");
            });

        }, 	{ offset: 600	});*/

        $(".vd_gallery").waypoint(function () {
            $(".vd_gallery .gallery-1").queue(function () {
                $('.vd_gallery .gallery-1').addClass("animated fadeInUp");
            });
            $(".vd_gallery .gallery-2").delay(200).queue(function () {
                $('.vd_gallery .gallery-2').addClass("animated fadeInUp");
            });
            $(".vd_gallery .gallery-3").delay(400).queue(function () {
                $('.vd_gallery .gallery-3').addClass("animated fadeInUp");
            });
        }, 	{ offset: 600	});


    {#});#}
{#</script>#}
{% endblock javascripts_document_ready %}