{% extends "::admin.html.twig" %}

{% block title %}{{ 'dashboard'|trans({},'backend') }}{% endblock %}
{% block page_title %}{{ 'dashboard'|trans({},'backend') }}{% endblock page_title %}

{% block page_body %}
    <div class="page-content">

        <div class="row">
            <div class="col-md-8 bordered">
                <!-- BEGIN PORTLET-->
                <div class="portlet light bordered">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="icon-edit font-dark"></i>
                            <span class="caption-subject font-dark bold uppercase">{{ 'courses.basics' | trans({}, 'backend') }}</span>
                        </div>

                    </div>
                    <div class="portlet-body">
                        <div class="blog-page blog-content-1">

                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="blog-post-sm blog-container">
                                        <div class="blog-img-thumb">
                                            <a href="javascript:;"><img
                                                        src="{{ asset('backend-metronic/img/curso1.png') }}"></a>
                                        </div>
                                        <div class="blog-post-content">
                                            <h2 class="blog-title blog-post-title" style="text-align: center">
                                                <a href="javascript:;">CURSO PTS B&aacute;sico</a>
                                            </h2>

                                            <h3>Temas del Curso-PTS.
                                            </h3>

                                            <ul>
                                                <li>Etica de Socializaci&oacute;n personal.
                                                </li>
                                                <li>Projeccion de Ganancias PTS.
                                                </li>
                                                <li>Vision al Miembro-Superior.</li>
                                                <li>Actualizaciones TML.</li>
                                                <li>Agradecimientos.</li>

                                            </ul>

                                            <h3>ETICA DE SOCIALIZACION TML.</h3>

                                            <p>Llamar la atenci&oacute;n social y del entorno.<br><br>
                                                Todos nosotros debemos te tener siempre presente que es muy importante
                                                dar la mejor impresi&oacute;n posible a todo nuestro entorno porque ser&aacute; la
                                                raz&oacute;n que demos a los dem&aacute;s para comentar de nuestra persona y nuestro
                                                negocio, todos tenemos el sagrado deber de hablar y demostrar hechos
                                                reales de ganancias personales que hemos logrado ganar con nuestros
                                                esfuerzos propios, no es permitido dar datos que no se han demostrado, y
                                                no tienen una base de garant&iacute;as reales por parte del sistema
                                                administrativo TML4you.com.<br><br>
                                                El momento correcto para interactuar con otras personas que desean
                                                informaci&oacute;n, es un punto de extrema importancia en todo momento.<br><br>
                                                La confianza ganada es el tesoro mas grande del recurso PTS-B&aacute;sico,
                                                porque re&uacute;ne las condiciones para que todas las personas que les
                                                brindamos nuestro apoyo y seguimiento por medio del PTS aprendan de
                                                nuestro ejemplo y lo puedan tramitar a otros que comenzaran el camino
                                                que hoy usted ha comenzado aqu&iacute;.<br><br>
                                                Usted es libre para seleccionar, cambiar su patrocinador PTS en
                                                cualquier momento que estime conveniente y quejarse a nuestra
                                                administraci&oacute;n de conductas impropias por parte de su patrocinador.
                                            </p>

                                            <h3>RECURSOS TML-PTS.</h3>

                                            <p>Los recursos que TML4you.com ha creado para anunciarse y cautivar la
                                                atenci&oacute;n de millones de personas por todo el mundo ,son la base del
                                                negocio y usted tiene la responsabilidad de darles la bienvenida , apoyo
                                                y seguimiento en lo que sus posibilidades caben permitirle.<br><br>
                                                Usted tiene el deber de atender a todas las personas que le pregunten
                                                por informaci&oacute;n del negocio-tml, sin discriminar a nadie su color, raza,
                                                pa&iacute;s, edad y condici&oacute;n f&iacute;sica, si a usted le hacen quejas por practicar
                                                estos actos contra oras persona, entonces nuestra administraci&oacute;n puede
                                                sancionarle.<br><br>
                                                Usted tiene el derecho de participar en todos los actos p&uacute;blicos de
                                                tml4you y libre de costos organizativos , pero su acompa&ntilde;ante si puede
                                                ser que tenga cargos por el evento.

                                            </p>

                                            <h3>PROJECCION DE GANANCIAS PTS.</h3>

                                            <p>PTS b&aacute;sico es la base del negocio tml con su plan de recompensas de (
                                                $2:oo) por cada nuevo miembro invitado patrocinado por usted y
                                                registrado con su c&oacute;digo personal de tml4you.<br><br>
                                                PTS b&aacute;sico tiene su garant&iacute;a de satisfacci&oacute;n o devoluci&oacute;n en los primero
                                                10 d&iacute;as de su inscripci&oacute;n y esa garant&iacute;a es caducada solamente cuando
                                                usted ha sido capaz de lograr comisiones mayor de ($16:oo) acumulados
                                                disponibles.<br><br>
                                                PTS b&aacute;sico tiene el objetivo de crear la confianza en nuestro sistema de
                                                recompensas por su trabajo de informar, apoyar y darle seguimiento a su
                                                nuevo prospecto y futuro miembro-b&aacute;sico activo y ganado por encima del
                                                costo de su membrec&iacute;a.<br><br>
                                                PTS te da la libertad de desarrollarte con total libertad y espacio para
                                                darle apoyo a todos los que quieras apoyar.<br><br>
                                                PTS es la herramienta que une a todos los miembros en un solo camino que
                                                conduce al RESPETO, TRANSPARENCIA, CREDIVILIDAD, FLEXIBILIDAD Y BUENA
                                                FE.
                                            </p>

                                            <h3>VISION PTS SUPERIOR</h3>

                                            <p>Usted debe asegurarse que tiene un patrocinador Superior en el momento
                                                que quiera adquirir su membres&iacute;a-superior y si su amigo patrocinador
                                                actual no esta en esa posici&oacute;n , entonces usted puede cambiarlo por el
                                                de su gusto.<br><br>
                                                Usted tiene el derecho de pedirle informaci&oacute;n a su patrocinador Superior
                                                antes de comprar su membres&iacute;a superior.
                                            </p>

                                            <h3>ACTUALIZACIONES TML</h3>

                                            <p>Las actualizaciones se realizan todos los meses y son redactadas mor
                                                nuestra administraci&oacute;n con bases de recomendaciones de todos los
                                                miembros incluido/a usted.<br><br>
                                                Nuestro programa de PTS es monitoreado por nuestra administraci&oacute;n de
                                                forma extracta y cualquier violaci&oacute;n ,resultara en sanciones y si
                                                persiste la violaci&oacute;n, una posterior cancelaci&oacute;n de su membres&iacute;a.

                                            </p>

                                            <h3>AGRADECIMIENTOS</h3>

                                            <p>Nuestro directivo y equipos de apoyo, agradecemos profundamente su
                                                confianza y dedicaci&oacute;n de tiempo y recursos personalmente .
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <!-- END PORTLET-->
            </div>
            <div class="col-md-4">
                <!-- BEGIN PORTLET-->
                <div class="portlet light bordered">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="icon-edit font-dark"></i>
                            <span class="caption-subject font-dark bold uppercase">{{ 'courses' | trans({}, 'backend') }}</span>
                        </div>

                    </div>
                    <div class="portlet-body">
                        <div class="blog-page blog-content-1">

                            <div class="row">
                                <div class="col-sm-12" style="text-align: center">
                                    <a href="#testProfesional" class="btn btn-lg green"
                                       data-toggle="modal">{{ 'test.course' | trans({}, 'backend') }}</a>

                                    <div>
                                        <h3><strong>{{ 'puntuation' | trans({}, 'backend') }}:</strong> {{ userptos }}</h3>
                                        {% for y in 1..5 %}
                                            {% if userptos >= y %}
                                                <i class="fa fa-star text-warning"></i>
                                            {% else %}
                                                <i class="fa fa-star-o"></i>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <!-- END PORTLET-->


                <!-- BEGIN PORTLET-->
                <div class="portlet light bordered">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="icon-edit font-dark"></i>
                            <span class="caption-subject font-dark bold uppercase">{{ 'others.courses' | trans({}, 'backend') }}</span>
                        </div>
                        {#<div class="actions">#}
                        {#<a class="btn btn-sm btn-info" href="{{ path('courses_basics') }}">{{ 'course_basic' | trans({}, 'backend') }}</a>#}
                        {#<a class="btn btn-sm btn-info" href="{{ path('courses_superior') }}">{{ 'course_superior' | trans({}, 'backend') }}</a>#}
                        {#</div>#}
                    </div>
                    <div class="portlet-body">
                        <div class="blog-page blog-content-1">

                            <div class="row">
                                <div class="col-sm-12">
                                    <a href="{{ asset('backend-metronic/Guía de Comisiones de los PTS.pdf') }}"><i
                                                class="icon-check"></i> {{ 'Guía de Comisiones de los PTS' | trans({}, 'backend') }}
                                    </a><br>
                                    <a href="{{ asset('backend-metronic/Guía del Blog.pdf') }}"><i
                                                class="icon-check"></i> {{ 'Guía del Blog' | trans({}, 'backend') }}
                                    </a><br>
                                    <a href="{{ asset('backend-metronic/Guía de Socialización Comercial.pdf') }}"><i
                                                class="icon-check"></i> {{ 'Guía de Socialización Comercial' | trans({}, 'backend') }}
                                    </a><br>
                                    <a href="{{ asset('backend-metronic/Curso del Panel de Control - Cap. I.pdf') }}"><i
                                                class="icon-check"></i> {{ 'Guía del Panel de Control - Cap. I' | trans({}, 'backend') }}
                                    </a><br>
                                    <a href="{{ asset('backend-metronic/Curso del Panel de Control - Cap. II.pdf') }}"><i
                                                class="icon-check"></i> {{ 'Guía del Panel de Control - Cap. II' | trans({}, 'backend') }}
                                    </a><br>
                                    <a href="{{ asset('backend-metronic/Cómo ganaremos la confianza.pdf') }}"><i
                                                class="icon-check"></i> {{ 'Cómo ganaremos la confianza' | trans({}, 'backend') }}
                                    </a><br>
                                    <a href="{{ asset('backend-metronic/Redes de Mercadeo.pdf') }}"><i
                                                class="icon-check"></i> {{ 'Curso de Redes de Mercadeo' | trans({}, 'backend') }}
                                    </a>
                                    {#<a href="{{ path('courses_extras', {'name' : 'bas_garantias'}) }}"><i#}
                                                {#class="icon-check"></i> {{ 'bas_guaranties' | trans({}, 'backend') }}#}
                                    {#</a>#}


                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <!-- END PORTLET-->
            </div>

            {#<div class="col-md-12">#}
                {#<a href="" class="btn blue">EXAMEN</a>#}
            {#</div>#}
        </div>
    </div>


    <!-- Modal -->
    <div class="modal fade" id="testProfesional" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true" data-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button id="closemodal" type="button" class="close" data-dismiss="modal"
                            aria-hidden="true"></button>
                    <h4 class="modal-title">{{ 'examen.basic' | trans({}, 'backend') }}</h4>
                </div>
                <div class="modal-body padT10">
                    <form class="form-horizontal" method="POST"
                          action="{{ path('app_admin_test_courses') }}" id="formtestBasic">

                        <input type="hidden" id="resultptos" name="resultptos">
                        <input type="hidden" name="level" value="1">
                        <div id="quest-1">

                            <span class="badge badge-success"
                                  style="font-size: 24px !important; text-align: center !important; padding: 11px 15px 13px; margin-right: 10px; height: 45px; width: 45px; border-radius: 50% !important;">1</span>

                            <span class="desc">{{ 'first.cuestion' | trans({}, 'backend') }}</span>

                            <h4 class="text-warning">¿Que significa las letras del nombre TML?</h4><br>

                            <div class="md-radio-list">
                                <div class="md-radio">
                                    <input id="radio1" name="radio1" class="md-radiobtn" type="radio">
                                    <label for="radio1">
                                        <span class="inc"></span>
                                        <span class="check"></span>
                                        <span class="box"></span>
                                        a- Todos somos Miembros sin Limites de expandirnos. </label>
                                </div>
                                <div class="md-radio">
                                    <input id="radio2" name="radio1" class="md-radiobtn" checked="" type="radio">
                                    <label for="radio2">
                                        <span class="inc"></span>
                                        <span class="check"></span>
                                        <span class="box"></span>
                                        b- Tiempos Maravillosos nos esperan de Logros personales. </label>
                                </div>
                                <div class="md-radio">
                                    <input id="radio3" name="radio1" class="md-radiobtn" type="radio">
                                    <label for="radio3">
                                        <span></span>
                                        <span class="check"></span>
                                        <span class="box"></span>
                                        c- Tiempo libre Dinero para ser libre y El estilo de vida soñado. </label>
                                </div>

                                <input type="hidden" id="result1">
                            </div>
                        </div>

                        <div id="quest-2">

                            <span class="badge badge-success"
                                  style="font-size: 24px !important; text-align: center !important; padding: 11px 15px 13px; margin-right: 10px; height: 45px; width: 45px; border-radius: 50% !important;">2</span>

                            <span class="desc">{{ 'seconds.cuestion' | trans({}, 'backend') }}</span>

                            <h4 class="text-warning">¿Que significan las letras PTS?</h4><br>

                            <div class="md-radio-list">
                                <div class="md-radio">
                                    <input id="radio4" name="radio2" class="md-radiobtn" type="radio">
                                    <label for="radio4">
                                        <span class="inc"></span>
                                        <span class="check"></span>
                                        <span class="box"></span>
                                        a- Entrenamiento del Soporte Personal.</label>
                                </div>
                                <div class="md-radio">
                                    <input id="radio5" name="radio2" class="md-radiobtn" checked="" type="radio">
                                    <label for="radio5">
                                        <span class="inc"></span>
                                        <span class="check"></span>
                                        <span class="box"></span>
                                        b- Prospectos para Todos de forma Personalizada. </label>
                                </div>
                                <div class="md-radio">
                                    <input id="radio6" name="radio2" class="md-radiobtn" type="radio">
                                    <label for="radio6">
                                        <span></span>
                                        <span class="check"></span>
                                        <span class="box"></span>
                                        c- Tiempo libre Dinero para ser libre y El estilo de vida soñado. </label>
                                </div>

                                <input type="hidden" id="result2">
                            </div>
                        </div>

                        <div id="quest-3">

                            <span class="badge badge-success"
                                  style="font-size: 24px !important; text-align: center !important; padding: 11px 15px 13px; margin-right: 10px; height: 45px; width: 45px; border-radius: 50% !important;">3</span>

                            <span class="desc">{{ 'third.cuestion' | trans({}, 'backend') }}</span>

                            <h4 class="text-warning">¿Qué beneficios nos dan los Amigos-TML?</h4><br>

                            <div class="md-radio-list">
                                <div class="md-radio">
                                    <input id="radio7" name="radio3" class="md-radiobtn" type="radio">
                                    <label for="radio7">
                                        <span class="inc"></span>
                                        <span class="check"></span>
                                        <span class="box"></span>
                                        a- Entrenamiento del Soporte Personal</label>
                                </div>
                                <div class="md-radio">
                                    <input id="radio8" name="radio3" class="md-radiobtn" checked="" type="radio">
                                    <label for="radio8">
                                        <span class="inc"></span>
                                        <span class="check"></span>
                                        <span class="box"></span>
                                        b- Confianza de un amigo y la invitación personal.
                                    </label>
                                </div>
                                <div class="md-radio">
                                    <input id="radio9" name="radio3" class="md-radiobtn" type="radio">
                                    <label for="radio9">
                                        <span></span>
                                        <span class="check"></span>
                                        <span class="box"></span>
                                        c- Tiempo libre Dinero para ser libre y El estilo de vida soñado. </label>
                                </div>

                                <input type="hidden" id="result3">
                            </div>
                        </div>

                        <div id="result">

                            <h1 style="text-align: center"
                                class="text-warning">{{ 'result' | trans({}, 'backend') }}</h1><br>

                            <input type="hidden" id="resultptos">

                            <div class="row" style="text-align: center">
                                <div class="col-md-6">
                                    <h3><strong>{{ 'puntuation' | trans({}, 'backend') }}:</strong> <span
                                                id="ptos"></span>
                                    </h3>
                                </div>
                                <div class="col-md-6">
                                    <h3>
                                        <i id="star1r" class="icon-star"></i>
                                        <i id="star2r" class="icon-star"></i>
                                        <i id="star3r" class="icon-star"></i>
                                        <i id="star4r" class="icon-star"></i>
                                        <i id="star5r" class="icon-star"></i>
                                    </h3>
                                </div>
                            </div>

                        </div>
                    </form>

                </div>
                <div class="modal-footer background-login">
                    {#<button id="closeCourse1" type="button" class="btn black"#}
                    {#data-dismiss="modal">{{ 'close'|trans({},'resources') }}</button>#}
                    <button id="back1Course1" type="button"
                            class="btn black">{{ 'back'|trans({},'resources') }}</button>
                    <button id="next1Course1" type="button"
                            class="btn black">{{ 'next'|trans({},'resources') }}</button>

                    <button id="back2Course1" type="button"
                            class="btn black">{{ 'back'|trans({},'resources') }}</button>
                    <button id="next2Course1" type="button"
                            class="btn black">{{ 'next'|trans({},'resources') }}</button>

                    <button id="next3Course1" type="button"
                            class="btn black">{{ 'next'|trans({},'resources') }}</button>

                    <button id="validCourse1" type="button" class="btn green center"
                            onclick="javascript:requestPuntuation()">{{ 'done'|trans({},'resources') }}</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->

    <!-- Begin Script to courses -->
    <script>
        $(document).ready(function () {
            //Dafaults
            $('#quest-1').show();
            $('#quest-2').hide();
            $('#quest-3').hide();
            $('#result').hide();

            //Calculos
            var a = document.getElementById('radio1');
            var b = document.getElementById('radio2');
            var c = document.getElementById('radio3');
            var d = document.getElementById('radio4');
            var e = document.getElementById('radio5');
            var f = document.getElementById('radio6');
            var g = document.getElementById('radio7');
            var h = document.getElementById('radio8');
            var i = document.getElementById('radio9');

            $('#next1Course1').show();
            $('#back1Course1').hide();

            $('#next2Course1').hide();
            $('#back2Course1').hide();

            $('#next3Course1').hide();

            $('#validCourse1').hide();

            //De la pregunta 1 a la 2
            $('#next1Course1').click(function () {
                $('#quest-2').show();
                $('#quest-1').hide();
                $('#back1Course1').show();
                $('#next2Course1').show();
                $('#next1Course1').hide();

                if (c.checked) {
                    $('#result1').val(1);
                } else {
                    $('#result1').val(0);
                }
            });
            $('#back1Course1').click(function () {
                $('#quest-1').show();
                $('#quest-2').hide();
                $('#back1Course1').hide();
                $('#next2Course1').hide();
                $('#next1Course1').show();
            });

            //De la pregunta 2 a la 3
            $('#next2Course1').click(function () {
                $('#quest-3').show();
                $('#quest-2').hide();
                $('#back2Course1').show();
                $('#next3Course1').show();
                $('#next2Course1').hide();
                $('#next1Course1').hide();
                $('#back1Course1').hide();

                if (d.checked) {
                    $('#result2').val(2);
                } else {
                    $('#result2').val(0);
                }
            });
            $('#back2Course1').click(function () {
                $('#quest-2').show();
                $('#quest-3').hide();
                $('#back2Course1').hide();
                $('#back1Course1').show();
                $('#next2Course1').show();
                $('#next3Course1').hide();
            });

            //De la pregunta 3 a result
            $('#next3Course1').click(function () {
                $('#result').show();
                $('#quest-3').hide();
                $('#validCourse1').show();
                $('#next1Course1').hide();
                $('#next2Course1').hide();
                $('#next3Course1').hide();
                $('#back1Course1').hide();
                $('#back2Course1').hide();

                $('#closemodal').hide();

                if (h.checked) {
                    $('#result3').val(2);
                } else {
                    $('#result3').val(0);
                }

                var r = parseFloat($('#result1').val()) + parseFloat($('#result2').val()) + parseFloat($('#result3').val());
                $('#resultptos').val(r)
                $('#ptos').text(r)

                if ($('#ptos', '#ptosstar').text() == 1) {
                    $('#star1r', '#star1').addClass('text-warning');
                } else if ($('#ptos', '#ptosstar').text() == 2) {
                    $('#star1r', '#star1').addClass('text-warning');
                    $('#star2r', '#star2').addClass('text-warning');
                } else if ($('#ptos', '#ptosstar').text() == 3) {
                    $('#star1r', '#star1').addClass('text-warning');
                    $('#star2r', '#star2').addClass('text-warning');
                    $('#star3r', '#star3').addClass('text-warning');
                } else if ($('#ptos', '#ptosstar').text() == 4) {
                    $('#star1r', '#star1').addClass('text-warning');
                    $('#star2r', '#star2').addClass('text-warning');
                    $('#star3r', '#star3').addClass('text-warning');
                    $('#star4r', '#star4').addClass('text-warning');
                } else if ($('#ptos', '#ptosstar').text() == 5) {
                    $('#star1r', '#star1').addClass('text-warning');
                    $('#star2r', '#star2').addClass('text-warning');
                    $('#star3r', '#star3').addClass('text-warning');
                    $('#star4r', '#star4').addClass('text-warning');
                    $('#star5r', '#star5').addClass('text-warning');
                }
            });

            if ($('#ptosstar').text() == 1) {
                $('#star1').addClass('text-warning');
            } else if ($('#ptosstar').text() == 2) {
                $('#star1').addClass('text-warning');
                $('#star2').addClass('text-warning');
            } else if ($('#ptosstar').text() == 3) {
                $('#star1').addClass('text-warning');
                $('#star2').addClass('text-warning');
                $('#star3').addClass('text-warning');
            } else if ($('#ptosstar').text() == 4) {
                $('#star1').addClass('text-warning');
                $('#star2').addClass('text-warning');
                $('#star3').addClass('text-warning');
                $('#star4').addClass('text-warning');
            } else if ($('#ptosstar').text() == 5) {
                $('#star1').addClass('text-warning');
                $('#star2').addClass('text-warning');
                $('#star3').addClass('text-warning');
                $('#star4').addClass('text-warning');
                $('#star5').addClass('text-warning');
            }

        });

        function requestPuntuation() {
            if ($('#formtestBasic').valid()) {
                $("#formtestBasic").submit();
            }
        }
    </script>
    <!-- End Script to courses -->
{% endblock %}